 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: EB Garamond, sans-serif; 
  }
  
  :root {
    --headergradleft: #465AB8;
    --headergradright: #261460;
    --search-btn-bg: #6991E3;
    --prev-cities-btn-bg: #AEAEAF;
    --white: #FFFFFF;
    --black: #191919;
    --dark-card-bg: #323D4F;
    --border-radius: 0.5rem; 
  }
  
  body {
    background-color: var(--white);
    color: var(--black);
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
    line-height: 1.25;
    font-family: Poiret One, sans-serif;
  }

  header {
    height: 30px;
    padding: 20px;
    background-image:linear-gradient(
                to right, #465AB8, #261460);
    position: fixed;
    width: 100%;
  }

  header h1 {
    position: absolute;
    bottom: 20px;
    width: 100%;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  p {
    font-size: 1.2rem;
  }

  .left-panel {
    margin: 10px;
    width: 100%;
  }

  #search-form {
    margin-top: 70px;
    width: 100%;
  }

  .search-btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 15px 0;
    border-radius: var(--border-radius);
    color: var(--white);
    border: none;
    outline: none;
    background-color: var(--search-btn-bg);
    box-shadow: 3px 3px var(--dark); #search-form {
    margin-top: 60px;
    width: 100%;
  }
    transform: translate(-1px, -1px);
  }

  .current-weather-container {
    margin-top: 65px;
    border: 2px solid var(--headergradleft);
  }

  .five-day-container {
    margin-top: 20px;
  }

  .card-body {
    background: var(--dark-card-bg);
    color: var(--white);
    min-width: 165px;
    min-height: 220px;
    line-height: 2;
    border: 2px solid var(--white);
  }
  
  .list-group {
    padding: 0;
    list-style: none;
  }
  
  .list-group-item {
    margin-bottom: 10px;
    padding: 1.5%;
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
    color: var(--primary);
    text-decoration: none;
  }
  
  .list-item:hover {
    background-color: var(--dark);
  }

  .prev-city-item {
    display: block;
    background-color: red;
    color: black;
}

  .prev-city-btn {
    display: block;
    background-color: blue;
    color: white;
  }
  
  .status-icon {
    padding: 2px 5px;
    margin: 0 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: var(--border-radius);
  }

  .icon-danger {
    color: rgb(255, 70, 70);
  }
  
  .icon-success {
    color: rgb(29, 153, 255);
  }
  
  /* CARDS */
  .card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
  }
  
  .card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  }
  
  .card-body {
    padding: 2.5%;
  }
  
  /* FORM */
  .form-label,
  .form-input,
  .form-textarea {
    display: block;
  }
  
  .form-input {
    width: 100%;
    padding: 3%;
    margin: 10px 0;
    font-size: 1.2rem;
    border: 2px solid var(--headergradleft);
    border-radius: var(--border-radius);
  }
 
  
  /* HEIGHT / WIDTH UTILS */
  
  .min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }
  
  /* FONT UTILS */
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  /* FLEX CONTENT */
  
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start;
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-auto {
    flex-grow: 1;
  }
  
  .col-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }
  
  .col-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }
  
  .col-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }
  
  .col-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }
  
  .col-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }
  
  .col-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }
  
  .col-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }
  
  .col-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }
  
  .col-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }
  
  .col-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }
  
  .col-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }
  
  .col-12 {
    flex: 0 0 100%;
  }
  
  
  /* col-sm */
  
  
  @media screen and (min-width: 640px) {
    .col-sm-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-sm-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-sm-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-sm-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-sm-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-sm-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-sm-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-sm-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-sm-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-sm-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-sm-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-sm-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-md */
  
  
  @media screen and (min-width: 768px) {
    .col-md-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-md-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-md-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-md-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-md-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-md-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-md-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-md-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-md-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-md-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-md-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-md-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-lg */
  
  
  @media screen and (min-width: 992px) {
    .col-lg-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-lg-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-lg-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-lg-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-lg-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-lg-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-lg-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-lg-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-lg-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-lg-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-lg-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-lg-12 {
      flex: 0 0 100%;
    }
  }
  
  /* col-xl */
  
  
  @media screen and (min-width: 1200px) {
    .col-xl-1 {
      flex: 0 0 calc(100% * 1 / 12 - 2%);
    }
  
    .col-xl-2 {
      flex: 0 0 calc(100% * 2 / 12 - 2%);
    }
  
    .col-xl-3 {
      flex: 0 0 calc(100% * 3 / 12 - 2%);
    }
  
    .col-xl-4 {
      flex: 0 0 calc(100% * 4 / 12 - 2%);
    }
  
    .col-xl-5 {
      flex: 0 0 calc(100% * 5 / 12 - 2%);
    }
  
    .col-xl-6 {
      flex: 0 0 calc(100% * 6 / 12 - 2%);
    }
  
    .col-xl-7 {
      flex: 0 0 calc(100% * 7 / 12 - 2%);
    }
  
    .col-xl-8 {
      flex: 0 0 calc(100% * 8 / 12 - 2%);
    }
  
    .col-xl-9 {
      flex: 0 0 calc(100% * 9 / 12 - 2%);
    }
  
    .col-xl-10 {
      flex: 0 0 calc(100% * 10 / 12 - 2%);
    }
  
    .col-xl-11 {
      flex: 0 0 calc(100% * 11 / 12 - 2%);
    }
  
    .col-xl-12 {
      flex: 0 0 100%;
    }
  }

  